*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ensuring our content occupies the entire screen*/
body{
  min-height: 100vh;
  height: 1500px;
  background-color: burlywood;
}

/*-----------------HEADER PART-----------------------*/
nav{
  background-color: rgb(5, 63, 75);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
  /*to expand its full to its container*/
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav li{
  height: 80px;
}

nav a {
  /*to make it match with the list item size*/
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

nav a:hover{
  color: orange;
}

.main-bar li:first-child{
  margin-right: auto;
  margin-left: 70px;
  font-weight: bold;
  font-size: 37px;
  /* display: flex;
  flex-shrink: 0; */
}

nav ul .last-list a{
  margin-right: 70px;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar li{
  /*list items takes full width of the side bar*/
  width: 100%;
}

.sidebar a{
  width: 100%;
  color: rgb(5, 63, 75);
}

.menu-button{
  display: none;
}


@media (max-width: 800px) {
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar{
    width: 100%;
  }
}

/* -------------------MAIN PART---------------------------*/
.container{
  width: 70%;
  margin: 40px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col-4{
  width: calc(100%/12 *4);
  padding: 20px 30px;
}

#main-features{
  background-color: burlywood;
  padding: 24px 0;
}

#main-features .card{
  background-color: white;
  height: 359px;
  width: 100%;
}

#main-features .card .card-header{
  position: relative;
  width: 100%;
  height: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

#main-features .card .card-header .news-1-image{
  width: 100%;
  height: 100%;
}

#main-features .card .card-header .black-button{
  position: absolute;
  right: 0;
  bottom: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  padding: 0 3px;
}

#main-features .card .card-header .green-button{
  position: absolute;
  display: flex;
  background-color: rgb(87, 158, 15);
  border: none;
  width: 70px;
  height: 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  right: 0%;
  bottom: 12%;
}

#main-features .card .card-header .green-button img{
  margin-right: 4px;
}

#main-features .card .card-date {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  color: darkgrey;
  font-size: 15px;
}

#main-features .card .card-date {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  color: darkgrey;
  font-size: 10px;
}

#main-features .card .card-info{
  width: 90%;
  height: 30%;
 }

#main-features .card .card-info p{
 font-weight: bold;
 font-size: 14px;
 padding: 0 12px;
 font-family: arial;
}

#main-features .card .card-action {
  width: 100%;
  display: flex;  
  align-items: center;
  padding: 0 12px;
  font-size: 10px;
  position: relative;
}


#main-features .card .card-action .category {
  position: absolute;
  left: 12px;
  bottom: 50%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(69, 138, 236);
  font-weight: bold;
 }

 #main-features .card .card-action .likes{
  position: absolute;
  right: 30%;
 }

 #main-features .card .card-action .dislikes{
  position: absolute;
  right: 10%;
 }
/* #main-features .card .card-action .category {
 padding-right: 30px;
 margin-right: 50px;
}

#main-features .card .card-action .category {
  color: rgb(27, 115, 216);
 }

#main-features .card .card-action .likes,.dislikes {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px;
}

#main-features .card .card-action .dislikes {
  padding-right: 0;
} */


#main-features .card .card-header .left-pink-button{
  position: absolute;
  font-size: 10px;
  width: 60px;
  height: 20px;
  background-color: rgb(176, 59, 170);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 4px;
  left: 0;
  bottom: 25px;
  left: 50%;
  opacity: 0.8;
 }

 #main-features .card .card-header .right-pink-button{
  position: absolute;
  font-size: 10px;
  width: 86px;
  height: 20px;
  background-color: rgb(176, 59, 170);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 4px;
  right: 0;
  bottom: 25px;
  opacity: 0.8;
 }

 #main-features .card-6 .card-header .leftt-pink-button{
  position: absolute;
  font-size: 10px;
  width: 60px;
  height: 20px;
  background-color: rgb(176, 59, 170);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 4px;
  bottom: 25px;
  opacity: 0.8;
  right: 10%;
  bottom: 10%;
 }